<!doctype html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI_know_you_better~</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

<body>
    <header>
        <h1>Upload a picture and see who that is!</h1>
        <div id="search">
            
            <form method="POST" enctype="multipart/form-data">
              <input type="file" name="file" class="file">
              <input type="submit" value="Upload" class="sub">
            </form>
        </div>
    </header>
</body>
</html>
